@import "./customLight";
@import "./customDark";
@import "./button";
@import "./navbar";
@import "./header";
@import "./product";
@import "./sale-off";
@import "./hangsanXuat";
@import "./footer";
* {
    font-family: "Yanone Kaffeesatz", sans-serif;
}
.navbarBody {
    height: 100vh;
    overflow: hidden;
}
